@font-face {
  font-family: terminus-bold;
  src: url(fonts/TerminusTTFWindows-Bold-4.46.0.ttf);
}

@font-face {
  font-family: terminus;
  src: url(fonts/TerminusTTFWindows-4.46.0.ttf);
}

.wrapper {
      flex-grow: 1;
      background-color: #001a00;
      display: flex;
      flex-direction: column;
      min-width: 1500px;
  }
body {
      flex-direction: column;
      flex-grow: 1;
      font-family: terminus;
      background-color: #001a00;
      color: #9fff80;
      font-size: 18px;
      display: flex;
  }
.section {
  display: block;
  margin: 10px;
}

.tabs-wrapper {
  display: flex;
  border-color: #9fff80;
  border-width: 1px;
  border-bottom-style: solid;
  margin: 30px 0;
}
.tab {
  border-color: #9fff80;
  border-width: 1px;
  border-right-style: solid;
  border-top-style: solid;
  flex-grow: 1;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.tab-active {
  background-color: #003700;
  border-width: 2px;
}
.tab-last {
  border-right: none;
}

.border {
  border-color: #9fff80;
  border-width: 1px;
  border-style: solid;
}
  div {
    display: flex;
  }
.main {
      flex-direction: column;
      flex: 1;
      padding: 10px;
  }
h1 {
      font-size: 32px;
      align-self: center;
      font-family: terminus-bold;
      flex: 1;
  }
h2 {
      font-size: 28px;  
      align-self: center;
      font-family: terminus-bold;
      flex: 1;
  }
h3 {
      font-size: 22px;
      align-self: center;
      font-family: terminus-bold;
      flex: 1;
  }
.checkBox {
      font-size: 18;
      font-family: terminus
  }
.textArea {
      height: 100;
      border-color: #9fff80;
      border-width: 1;
  }
.infoCard {
      height: 300;
      border-color: #9fff80;
      border-width: 1;
      margin-top: 10;
      margin-bottom: 10
  }
.center {
      align-self: center;
      align-items: center;
  }
.rowFirst {
      margin-top: 10px;
  }
.row {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      margin: 3px 0;
  }
  .col {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 3px;
}
.even-space {
  flex: 1
}
label, .label {
      font-size: 18px;
      margin: 5px
  }
input {
  flex: 1;
  font-size: 18px;
  border-color: #9fff80;
  color: #9fff80;
  background-color: #001a00;
  font-family: 'terminus';
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 5px;
}
input:focus {
  outline: none;
}
a {
  color: #9fff80;
}

.picker {  
      flex: 1;
      text-decoration-line: underline;
      align-items: center;
      align-self: center;
      justify-content: center
  }
.pickerItem {
      flex: 1;
      text-decoration-line: underline;
  }
.spacer {
      width: 50px;
  }
button {
      margin: 10px;
      width: 150px;
      border-color: #9fff80;
      color: #9fff80;
      background-color: #001a00;
      font-family: 'terminus';
      border-width: 1px;
      height: 50px;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border-style: solid;
      cursor: pointer;
  }

  button:focus {
    outline: none;
  }
  button:active {
    border-width: 2px;
    font-family: terminus-bold;
  }
  select {
    min-width: 200px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #9fff80;
    color: #9fff80;
    background-color: #001a00;
    font-family: 'terminus';
    border-width: 1px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-style: solid;
}
select:focus {
  outline: none;
}
select:active {
  border-width: 2px;
  font-family: terminus-bold;
}
.hyperlink {
  border: none;
  margin: 5px;
  text-decoration: underline;
}
input[type='checkbox'], .checkBox {
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.center {
  justify-content: center;
  align-content: center;
}

table, .table {
      flex-direction: row;
      flex: 1;
      margin: 0 10px;
  }
th, .th {
      flex-direction: column;
      border-color: #9fff80;
      font-family: terminus-bold;
      border-style: solid;
      border-width: 0 0 1px 0;
      flex-grow: 1;
      flex-basis: 0;
      padding: 10px 5px;
      font-size: 22px;

  }
tr, .tr {
      flex-direction: column;
      border-color: #9fff80;
      flex-grow: 1;
      flex-basis: 0;
      padding: 10px 0px 5px 10px;
      font-family: terminus;
  }
.alt{
  background-color: #003700;
}
.separator {
      margin: 5px 0 10px 0;
      border-color: #9fff80;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      width: 100%;
  }
.bigger {
      font-size: 22;
  }
.boldLabel {
      font-size: 18;
      font-family: terminus-bold;
  }
.bigBorder {
      border-color: #9fff80;
      border-width: 3;
  }
.logo {
    min-width: 150px;
    background: center no-repeat url(static/logo.png);
    background-size: contain;
}
.header {
  display: flex;
  flex-grow: 1;
  border-color: #9fff80;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  height: 100px;
}

.filter-active{
  background-color: #003700;
  border-width: 3px;
}
.filters {
  flex-direction: row;
}
.row-filler{
  flex-grow: 1;
}
#root {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.modal {
  width: 450px;
  min-height: 350px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -175px;
  margin-left: -225px;
  border: solid 1px;
  background-color: #001a00;
}
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.close-icon{
  font-size: 32px;
  align-self: flex-end;
  border: 0;
  width: unset;
  padding: 0;
  margin: 0;
}

